html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}


.header {
    display: flex;
    background-color: #EDEEF0;
    width: 100%;
    height: 4vh;
    padding: 5px;
    z-index: 10 !important;
}

.top-link {
    display: flex;
    height: max-content;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 16pt;
}

.info-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0.01%, #000000 0.02%, #FFFFFF 78.12%);
    width: 100%;
    height: 40vh;
    padding: 5px;
}

.content-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEEF0;
    width: 100%;
}

div.top-link:last-child {
    margin-left: auto;
    margin-right: 3%;
}

.top-link:hover {
    background-color: #C4C4C4;
}

.about-user {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 80%;
    background: linear-gradient(180deg, #92C0DA 0%, #CBCBCB 20.83%, #755CBE 99.99%, #00A3FF 100%);
    border-radius: 30px;
}

.ava {
    width: 200px;
    height: 200px;
    border: white solid 8px;
    background-color: black;
    margin-bottom: -30px;
    border-radius: 100%;
}

.post {
    display: flex;
    padding: 15px;
    justify-content: center;
    margin-top: 2%;
    width: 80%;
    background: red;
    border-radius: 30px;
}